<footer class="container-fluid desk">
    <div class="row foot">
      <div class="row col-12">
        <h5 class="col-3 loc">Seguinos</h5>
        <h5 class="col-4 loc">Contactanos</h5>
        <h5 class="col-3 loc">Mapa del sitio</h5>
      </div>
      <div class="row col-12" style="padding-top: 20px; display: flex; align-items: center;">
        <div class="col-3">
          <div class="col-12">
            <i class="fab fa-facebook col-2 redess"></i><a class="linkk" href="/"> /centrocip </a>
          </div>
          <div class="col-12">
            <i class="fab fa-instagram col-2 redess"></i><a class="linkk" href="/"> centrocip </a>
          </div>
        </div>

        <div class="col-4">
          <div class="col-12">
            <i class="fas fa-map-marker-alt redess"></i><p class="direc" style="margin: 0px !important;">Monseñor Schell 197 - Lomas de Zamora -</p> <br>
            <p class="direc" style="margin: 0px !important;">Buenos Aires </p> <br>
            <i class="fas fa-phone redess"></i><p class="direc">Tel: (011) 4292-2898</p> <br>
            <i class="fas fa-envelope redess"></i><p class="direc">ciplomas@gmail.com</p>
          </div>
        </div>

        <div class="col-3">
          <ul class="navFoot col-12"> 
            <li><a class="linkk" href="/"> Inicio </a></li>
            <li><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
            <li><a class="linkk" href="/profesionales"> Profesionales </a></li>
            <li><a class="linkk" href="/nosotros"> Nosotros </a></li>
            <li><a class="linkk" href="/actividades"> Actividades </a></li>
            <li><a class="linkk" href="/contacto">Contacto </a></li>
          </ul>
        </div>

        <div class="col-2">
          <img src="/images/logoFoot.jpg" alt="" width="100%">
        </div>
      </div>
    </div>
</footer>



  <footer class="container-fluid mobile">
    <div class="row">
      <div class="col-12" style="margin-bottom: 40px;">
        <h5 class="col-12 line">Seguinos</h5>
        <div class="col-12" style="display: flex;justify-content: start;">
          <i class="fab fa-facebook col-2 redess" style="display: flex;justify-content: center;align-items: center;"></i><a class="linkk" href="/"> /centrocip </a>
        </div>
        <div class="col-12" style="display: flex;justify-content: start;">
          <i class="fab fa-instagram col-2 redess" style="display: flex;justify-content: center;align-items: center;"></i><a class="linkk" href="/"> centrocip </a>
        </div>
      </div>

      <div class="col-12" style="margin-bottom: 20px;">
        <h5 class="col-12 loc">Contactanos</h5>
        <div class="col-12">
          <i class="fas fa-map-marker-alt redess"></i><p class="direc" style="margin: 0px !important;">Monseñor Schell 197 - Lomas de Zamora -</p> <br>
          <p class="direc" style="margin: 0px !important;">Buenos Aires </p> <br>
          <i class="fas fa-phone redess"></i><p class="direc">Tel: (011) 4292-2898</p> <br>
          <i class="fas fa-envelope redess"></i><p class="direc">ciplomas@gmail.com</p>
        </div>
      </div>
      <div class="col-12" style="margin-bottom: 0px;">
        <h5 class="col-12 loc">Mapa del sitio</h5>
        <ul class="navFoot col-12"> 
          <li class="site"><a class="linkk" href="/"> Inicio </a></li>
          <li class="site"><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
          <li class="site"><a class="linkk" href="/profesionales"> Profesionales </a></li>
          <li class="site"><a class="linkk" href="/nosotros"> Nosotros </a></li>
          <li class="site"><a class="linkk" href="/actividades"> Actividades </a></li>
          <li class="site"><a class="linkk" href="/contacto">Contacto </a></li>
        </ul>
      </div>
    </div>
  </footer>