<footer class="container-fluid desk">
    <div class="row foot col-12">
      <div class="col-4">
        <div class="col-12 fot">
          <img src="/images/logo6.jpg" alt="" style="width: 138px;">
        </div>
        <div class="iconoss col-12">
          <i class="fab fa-facebook col-2 redess"></i>
          <i class="fab fa-instagram col-2 redess"></i>
          <i class="fab fa-whatsapp col-2 redess"></i>
        </div>
      </div>
      <div class="col-5">
        <h5 class="col-12 loc">LOCALIZACIÓN Y CONTACTO</h5>
        <p class="col-12 direc" style="margin: 0px !important;">Monseñor Schell 197 - Lomas de Zamora - Buenos Aires |</p>
        <p class="col-12 direc">Tel: (011) 4292-2898.</p>
      </div>
      <div class="col-3">
        <ul class="navFoot col-12"> 
          <li><a class="linkk" href="/"> Inicio </a></li>
          <li><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
          <li><a class="linkk" href="/profesionales"> Profesionales </a></li>
          <li><a class="linkk" href="/nosotros"> Nosotros </a></li>
          <li><a class="linkk" href="/actividades"> Actividades </a></li>
          <li><a class="linkk" href="/contacto">Contacto </a></li>
        </ul>
      </div>
    </div>
  </footer>
  <footer class="container-fluid mobile">
    <div class="row">
      <div class="col-12" style="margin-bottom: 40px;">
        <div class="col-12 fot">
          <img src="/images/logo6.jpg" alt="" style="width: 138px;">
        </div>
        <div class="iconoss col-12">
          <i class="fab fa-facebook col-2 redess"></i>
          <i class="fab fa-instagram col-2 redess"></i>
          <i class="fab fa-whatsapp col-2 redess"></i>
        </div>
      </div>
      <div class="col-12" style="margin-bottom: 20px;">
        <h5 class="col-12 loc">LOCALIZACIÓN Y CONTACTO</h5>
        <p class="col-12 direc" style="margin: 0px !important;">Monseñor Schell 197 - Lomas de Zamora - Buenos Aires |</p>
        <p class="col-12 direc">Tel: (011) 4292-2898.</p>
      </div>
      <div class="col-12" style="margin-bottom: 0px;">
        <ul class="navFoot col-12"> 
          <li><a class="linkk" href="/"> Inicio </a></li>
          <li><a class="linkk" href="/tratamientos"> Tratamientos </a></li>
          <li><a class="linkk" href="/profesionales"> Profesionales </a></li>
          <li><a class="linkk" href="/nosotros"> Nosotros </a></li>
          <li><a class="linkk" href="/actividades"> Actividades </a></li>
          <li><a class="linkk" href="/contacto">Contacto </a></li>
        </ul>
      </div>
    </div>
  </footer>