<head>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
</head>
<header style="display: flex;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 mobile navm">
            <i class="fas fa-bars"></i>
        </div>
        <div class="col-8 col-lg-3 logo">
          <a href="/"> <img class="logo" src="/images/logo.jpg" alt=""></a>
        </div>
        <nav class="col-7 desk">
          
            <div class="col-3 sec">
              <a class="link" href="/nosotros"> Quienes somos? </a>
            </div>
            <div class="col-3 sec">
              <a class="link" href=""> Atencion interdiciplinaria </a>
            </div>
            <div class="col-3 sec">
              <a class="link" href="/actividades"> Actividades de formación </a>
            </div>
            <div class="col-3 sec ultimo">
              <a class="link" href="/contacto"> Contacto </a>
            </div>
          
        </nav>
        <div class="col-2 navm" style="display: flex; justify-content: space-evenly;">
            <a href="" class="redes"><i class="fab fa-whatsapp" style="font-size: 28px;"></i></a>
            <a href="" class="redes"><i class="fab fa-instagram desk" style="font-size: 28px;"></i></a>
        </div>
      </div>
      <!--<div class="col-4" style="display: flex;align-items: center;justify-content: end;">
        <div class="row iconos">
          <div class="col-4 icono">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-4 icono">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>-->
    </div>
  </header>