<head>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <link rel="stylesheet" href="/stylesheets/whatsapp.css">
</head>
<header style="display: flex;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 mobile navm">
            <i class="fas fa-bars"></i>
        </div>
        <div class="col-8 col-lg-3 logo">
          <a href="/"> <img class="logo" src="/images/logo9.png" alt=""></a>
        </div>
        <nav class="col-9 desk">
            <div class="col-3 sec">
              <a class="link" href="/actividades"><i class="fas fa-allergies"></i> Tratamientos </a>
            </div>
            <div class="col-3 sec">
              <a class="link" href="/nosotros"><i class="fas fa-users"></i> Nosotros </a>
            </div>
            <div class="col-3 sec">
              <a class="link" href=""><i class="fas fa-angle-right"></i> Actividades </a>
            </div>
            <div class="col-3 sec ultimo">
              <a class="link" href="/contacto"><i class="far fa-arrow-alt-circle-right"></i> Contacto </a>
            </div>
          
        </nav>
        <!-- logos <div class="col-2 navm" style="display: flex; justify-content: space-evenly;">
            <a href="" class="redes"><i class="fab fa-whatsapp" style="font-size: 28px;"></i></a>
            <a href="" class="redes"><i class="fab fa-instagram desk" style="font-size: 28px;"></i></a>
        </div> -->
      </div>
      <!--<div class="col-4" style="display: flex;align-items: center;justify-content: end;">
        <div class="row iconos">
          <div class="col-4 icono">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-4 icono">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>-->
    </div>
  </header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=1167048339&text=Hola." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>