<!DOCTYPE html>
<html>
  <head>
    <title>Centro CIP Actividades</title>
    <link rel='stylesheet' href='/stylesheets/actividadess.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f959a7d319.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("partials/header.ejs")%>
    <main>
        <div class="col-12 texto1">
            <h2 class="col-12">Docencia e investigación</h2>
            <p class="col-12 texto">Desde los inicios del CIP, en el año 1983, realizamos ateneos, cursos y jornadas de capacitación, seminarios y grupos de estudio. Los mismos están dirigidos a psicólogos, docentes y profesionales del ámbito de la salud. Estas actividades se llevan a cabo en nuestra institución, ofreciendo un ámbito de formación y de participación, con profesionales de nuestra casa, así como también con profesionales invitados de otros ámbitos.</p>
        </div>
        <div class="col-12 texto2">
            <h2 class="col-12">Supervisión</h2>
            <p class="col-12 texto">Realizamos supervisiones a otros profesionales del área de la psicología.</p>
        </div>
    </main>

    <%- include("partials/footer.ejs")%>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>

