<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIP Nosotros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/nosotros.css' />
        <script src="https://kit.fontawesome.com/f959a7d319.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include("partials/header.ejs")%>
    <main class="container-fluid">
        <div class="col-12 banner">
            
        </div>
        
        <h2 class="col-12 nos">Nosotros</h2>
        <p class="col-12">Con más de tres décadas de trayectoria, el CIP nació en el año 1983 con un claro objetivo: generar un ámbito profesional y humano en el cual desarrollar el tratamiento y la atención psicológica, desde un enfoque psicoanalítico. Con el tiempo se fueron sumando a nuestro equipo profesionales del área de la psicopedagogía y la fonoaudiología, dándole una impronta de trabajo interdisciplinario. Nuestro lema siempre ha sido que nuestra institución es un espacio para pensar juntos.</p>
        <p class="col-12">Porque creemos que el bienestar emocional de las personas es prioridad, creamos y seguimos conformando diariamente un equipo en constante actualización y capacitación, con la responsabilidad y el conocimiento profesional, sindescuidar la calidez humana en toda nuestra atención.</p>
        <p class="col-12">Asimismo, el CIP ofrece un espacio de formación para los profesionales y los docentes que deseen capacitarse en su especialidad.</p>

    </main>
    <%- include("partials/footer.ejs")%>
</body>
</html>