<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CIP</title>
        <link rel='stylesheet' href='/stylesheets/home.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/quienes.css' />
        <script src="https://kit.fontawesome.com/f959a7d319.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include("partials/header.ejs")%>
    <main class="container-fluid">
        <div class="col-12 banner">
            
        </div>
        <h2 class="col-12">Equipo de trabajo</h2>
        <div class="container">
            <div class="row">
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-4" style="display: flex;align-items: center;justify-content: center;">
                            <img class="foto" src="/images/Ana.png" alt="">
                        </div>
                        <div class="col-8">
                            <h3 class="col-12 nombre">Lic. Recalde de Soler, Ana</h3>
                            <p class="col-12 titulo">Directora ejecutiva</p>
                            <a class="col-12" href="">solerana@centrocip.com</a>
                            <p class="col-12">Licenciada en Psicologi­a. Trabajos con niños, adolescentes, adultos, parejas y familia</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-4" style="display: flex;align-items: center;justify-content: center;">
                            <img class="foto" src="/images/user-img.png" alt="">
                        </div>
                        <div class="col-8">
                            <h3 class="col-12 nombre">Lic. Roasio, Alicia</h3>
                            <p class="col-12 titulo">Directora ejecutiva</p>
                            <a class="col-12" href="">roasioalicia@centrocip.com</a>
                            <p class="col-12">Psicologa Cli­nica. Profesora en Psicopedagogia. Atencion a adolescentes, adultos y familias. Orientacion a padres. Orientadora escolar del Instituto de Nuestra Sra. de Lourdes, Banfield.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-4" style="display: flex;align-items: center;justify-content: center;">
                            <img class="foto" src="/images/user-img.png" alt="">
                        </div>
                        <div class="col-8">
                            <h3 class="col-12 nombre">Lic. Lopez, Raul</h3>
                            <p class="col-12 titulo">Director ejecutivo</p>
                            <a class="col-12" href="">lopezraul@centrocip.com</a>
                            <p class="col-12">Psicologo Clinico. Atencion a adolescentes, adultos, pareja y familia. Orientacion a padres.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-4" style="display: flex;align-items: center;justify-content: center;">
                            <img class="foto" src="/images/user-img.png" alt="">
                        </div>
                        <div class="col-8">
                            <h3 class="col-12 nombre">Lic. Szombach, Maria Teresa</h3>
                            <p class="col-12 titulo">Directora ejecutiva</p>
                            <a class="col-12" href="">Szombachmaria@centrocip.com</a>
                            <p class="col-12">Licenciada en Psicologia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs")%>
</body>
</html>