.banner {
    padding-top: 201px !important;
    height: 132px !important;
    background: linear-gradient(#034f84, #00B7FF);
}
h2{
    padding-top: 30px;
    text-align: start !important;
}
p{
    margin-bottom: 0px;
    padding-bottom: 16px;
}
main{
    padding-top: 0px !important;
}