.banner {
    height: 132px !important;
    background: linear-gradient(#034f84, #00B7FF);
    margin-bottom: 30px;
}
main {
    padding: 0px !important
}
h2{
    text-align: start !important;
}
.nos {
    text-decoration: underline #034f84;
}
p{
    margin-bottom: 0px;
    padding-bottom: 16px;
}