h3.col-12.nombre {
    color: #034f84;
    font-weight: 700;
}
p.col-12.titulo {
    font-style: italic;
}
.banner {
    height: 132px !important;
    background: linear-gradient(#034f84, #00B7FF);
    padding: 0px;
}
.text{
    display: flex;
    justify-content: start;
}
main{
    padding-bottom: 40px;
}